/*root declares css variable which are used to sstyle borders and the colours of elements and text */
:root{
    --element_border: .25rem solid rgb(67, 67, 116);
    --primary_color: rgb(67, 67, 116);
    --secondary_color: rgb(118, 226, 215); 
    --border_rad: .15rem;
}


/* this makes it so that all links to anchors on webpage will scroll instead */
html{
    scroll-behavior: smooth;
}

/* font family declared */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary_color);
}


nav{
    background-color: var(--primary_color);
}


@media screen and (max-width: 768px) {
}